<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;"  action="#">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" name ="name" />
        <!--<span th:errors="*{name}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" name = "description" />
        <!--<span th:errors="*{description}" class="error"></span>-->
    </div>
    <div class ="form-group">
        <input type = "file" name ="img"/>
    </div>
    <!--old dropdowns for LOP tags-->
    <!--<div class="form-group">-->
        <!--<label th:for="location">Location</label>-->
        <!--<select name="locationId">-->
            <!--<option th:each="location : ${locations}"-->
                    <!--th:text="${location.name}"-->
                    <!--th:value="${location.id}"></option>-->
        <!--</select>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="occasion">Occasion</label>-->
        <!--<select name="occasionId">-->
            <!--<option th:each="occasion : ${occasions}"-->
                    <!--th:text="${occasion.name}"-->
                    <!--th:value="${occasion.id}"></option>-->
        <!--</select>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="people">People</label>-->
        <!--<select name="peopleId">-->
            <!--<option th:each="people : ${peoples}"-->
                    <!--th:text="${people.name}"-->
                    <!--th:value="${people.id}"></option>-->
        <!--</select>-->
    <!--</div>-->





<datalist id="tag">
    <option th:each="tag: ${tags}"
            th:text="${tag.name}"></option>
</datalist>

    <label th:for="tagList">Tags</label>
    <input list="tag" type="text" id="tagInput"/>
    <button id="addTagButton" >Add</button>
    <div id="data">
        <select id="tagList" multiple="multiple" size="1"  name ="tagList"/>
    </div>
    <p>
        <input type="submit" value ="Add Outfit!"/>
    </p>
</form>

</body>
</html>